* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Open Sans Font loading */
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf) format("truetype");
    font-weight: 300 800;
    font-stretch: 75% 100%;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans/OpenSans-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
    font-style: italic;
}

body {
    font-family: "Open Sans";
}

:root {
    --header-height: 115px;
    --header-bg: white;
    --content-bg: #dbdbdb;
    --card-bg: white;
    --card-avatar-bg: #808080;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 25px;
    height: var(--header-height);
    background: var(--header-bg);
}

#logo-container {
    width: 200px;
}

#logo {
    width: 100%;
}

#content-container {
    background: var(--content-bg);
    height: calc(100vh - var(--header-height))
}

#page-title-container {
    font-size: 1.2em;
    text-align: center;
    background: var(--card-bg);
    padding: 15px;
}

#data-container {
    padding: 15px;
}

.data-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--card-bg);
    padding: 15px;
    gap: 5px;
    min-width: 256px;
}

.avatar-container {
    overflow: hidden;
    justify-content: center;
    width: 128px;

    background: var(--card-avatar-bg);
    border-radius: 50%;
}

.avatar-container img {
    width: 100%;
    transform: translateY(5px);
}

.data-text {
    font-size: 1.1em;
}

.data-text-important {
    font-size: 1.5em;
    font-weight: bold;
}